spring:
  rabbitmq:
    username: # rabbitmq用户名
    password: # rabbitmq密码
    virtual-host: # rabbitmq虚拟主机
    host: # rabbitmq地址
    port: # rabbitmq端口
    publisher-confirm-type: correlated
    publisher-returns: true
    listener:
      simple:
        default-requeue-rejected: false
        acknowledge-mode: auto
        prefetch: 1
        retry:
          enabled: true
          max-attempts: 3
          initial-interval: 1000
  redis:
    database: # redis数据库编号
    port: # redis端口
    host: # redis 地址
    password: # redis 密码
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    url: # jdbc:mysql://fic-mysql-dns.fic:3306/fic_kanban?useUnicode=true&characterEncoding=utf-8&serverTimezone=Asia/Shanghai&useSSL=false
    username: # mysql账号
    password: # mysql密码
  cloud:
    sentinel:
      transport:
        dashboard: # 127.0.0.1:8080
        # 与sentinel通讯端口，被占用会自动+1寻找没有被占用的端口
        port: 8719
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: top.zway.fic.base.entity
elasticsearch:
  host: # es地址
  port: # 9200