spring:
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: fic-auth_oauth
          uri: lb://fic-auth
          predicates:
            - Path=/oauth/**
        - id: fic-user
          uri: lb://fic-user
          predicates:
            - Path=/user/**
        - id: fic-kanban
          uri: lb://fic-kanban
          predicates:
            - Path=/kanban/**
        - id: fic-kanban_invitation
          uri: lb://fic-kanban
          predicates:
            - Path=/invitation/**
        - id: fic-search
          uri: lb://fic-search
          predicates:
            - Path=/search/**
        - id: fic-mail
          uri: lb://fic-mail
          predicates:
            - Path=/mail/**
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: # 'http://fic-auth.fic:4011/rsa/publicKey'
  redis:
    database: # redis数据库编号
    port: # redis端口
    host: # redis 地址
    password: # redis 密码
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
secure:
  ignore:
    urls:
      - "/actuator/**"
      - "/oauth/**"
      - "/user/register"
      - "/mail/verification-code/**"
      - "/user/password/reset"